@page "/"

 


@inject IViewEventsByNameUseCase ViewEventsByNameUseCase

<PageTitle>Home</PageTitle>

@if (Events != null && Events.Count > 0)
{
    <ul>
        @foreach (var ev in Events)
        {
            <li>@ev.Title (@ev.StartDate.ToShortDateString() - @ev.EndDate.ToShortDateString())</li>
        }
    </ul>
}
else
{
    <p>No events found.</p>
}

 
@code {
    private string SearchTerm = string.Empty;
    private List<Event>? Events;

    protected override async Task OnInitializedAsync()
    {
        Events = (await ViewEventsByNameUseCase.ExecuteAsync()).ToList();
    }

    
}
